* {
  
  background-color: darkgreen;
}
body{
  height:auto;
  border:solid orange;
  
}
h1 {
  color: #dfa912;
  background-color: darkgreen;
  font-family: 'Righteous', cursive;
  font-size: 45px;
  font-weight: 400;
  line-height: 44px;
  margin: 0 0 12px;
  text-align: center;
}
form {
    text-align: center;
    font-family: 'Righteous';
}

.newImage{
  
  display: block;
  margin: auto;
  width: 200px;
  height: 200px;
  position: relative;
  animation-name: example;
  animation-duration: 6s;

  /* height:50%;
  width:300px;
  margin:auto;
  display: block; */

}

h2 {
  text-align: center;
  margin: auto;
  font-family: 'Bangers';
  font-size: 50px;
}
p {
  text-align: center;
  font-family: 'Righteous';
}

@keyframes example {
  0%   {border: 33px; left:0px; top:0px;}
  25%  {border: 33px; left:100px; top:0px;}
  50%  {border: 33px; left:-100px; top:0px;}
  75%  {border: 33px; left:0px; top:0px;}
  100% {border: 33px; left:0px; top:0px;}
}
